<div>
    <div>
    <h2>Products</h2>
    <ul>
        {{#each products.docs}}
        <li>{{this.title}}</li>
        <li>{{this.description}}</li>
        <li>{{this.price}}</li>
        <li>{{this.stock}}</li>
        <li>{{this.code}}</li>
        <li>
            <form action="/api/carts/64f0e25a4152a0bc60f41628/products/{{this._id}}" method="POST">
                <button type="submit">Agregar al Carrito</button>
            </form>
        </li>
        <br><br>
        {{/each}}
    </ul>
</div>
    <div>
        {{#if products.hasPrevPage}}
        <a href="/products?page={{products.prevPage}}&query={{query}}">Anterior</a>
        {{/if}}
        <span>Pagina {{products.page}} de {{products.totalPages}}</span>
        {{#if products.hasNextPage}}
        <a href="/products?page={{products.nextPage}}&query={{query}}">Siguiente</a>
        {{/if}}
    </div>
</div>
